.grid-wrap {
    display: flex;
    margin: 0 48px;
    position: relative;
}

.image-one {
    width: 100%;
    height: 100%;
    display: block;
}

.card-overlay {
    position: absolute;
    width: 40%;
    justify-content: flex-start;
    top: 44px;
    height: calc(100% - 44px);
    left: 48px;
}
.sub-title {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 4px;
    margin-left: 3px;
}
.title {
    color: white;
    font-size: 72px;
    font-weight: 500;
    line-height: .833333;
    font-family: "Nike TG", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 4px;
}
.body {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 4px;
    margin-left: 3px;
}
.primary__button,  .secondary__button{
    border-radius: 20px;
    background: #fff;
    color: #111;
    padding: 8px 28px;
    position: relative;
    z-index: 1;
    margin-right: 6px;
    margin-bottom: 6px;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.secondary__button {
    background-color: black;
    color: white;
}
.grid-wrap {
    display: flex;
    flex-direction: column;
}

.grid-wrap .section-headline .headline-3{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.166667;
}

.grid-row {
    display: flex;
    flex-direction: row;
    margin:0 -10px;
}
.grid-row .grid-item {
    padding:0 10px;
    /* margin: 0 10px; */
}
.image-two {
    width: 100%;
    height: 100%;
    display: block;
}
.image-three {
    width: 100%;
    height: 100%;
    display: block;
}
.card-overlay-2 {
    position: absolute;
    justify-content: flex-end;
    top: calc(86.66667% - 48px);
    height: 33.33333%;
    text-align: left;
    left: 48px;
    width: 75%;
}
.card-overlay-3 {
    position: absolute;
    justify-content: flex-end;
    top: calc(86.66667% - 48px);
    height: 33.33333%;
    text-align: left;
    left:calc(50.66667% + 48px);
    width: 75%;
}
.grid-wrap{

    overflow:hidden;
}
.grid-image4 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.image4 {
    background-size: cover;
    background-position: 50% 50%;
    background-color: #f5f5f5;
}
.card-overlay-4 {
    display: flex;
    justify-content: center;
}
.card-overlay-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-overlay-4 .card-h3{
    color:black;
    font-size: 63px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-overlay-4 .card-p{
    color:black;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.paly-icon {
    padding-left: 10px;
}
.primary__sub-title-h3, .secondary__sub-title-h3 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.secondary__sub-title-h3 {
    color: black;
}
.card-overlay-7 {
    position: absolute;
    justify-content: flex-end;
    top: calc(92% - 48px);
    height: 33.33333%;
    text-align: left;
    left:calc(48px);
    width: 25%;
}

.card-overlay-8 {
    position: absolute;
    justify-content: flex-end;
    top: calc(92% - 48px);
    height: 33.33333%;
    text-align: left;
    left:calc(33.66667% + 48px);
    width: 25%;
}

.card-overlay-9 {
    position: absolute;
    justify-content: flex-end;
    top: calc(92% - 48px);
    height: 33.33333%;
    text-align: left;
    left:calc(66.66667% + 48px);
    width: 25%;
}
.section-headline {
    margin-top: 20px;
}

.merch-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:50px;
    padding-left:150px;
    padding-right:150px;
    padding-bottom: 50px;
}
.merch-menu-grid-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.merch-menu ul, 
.merch-menu li {
    margin: 0px;
    padding: 0px;
    margin-left: -16px;
} 
.merch-menu li {
    padding-left: -20px;
    color: #757575;
    transition: all .3s;
    display: block;
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
    text-transform: capitalize;
    transform: none;
    margin: 15px;
    letter-spacing: 0;
}
.merch-menu__h3 {
    padding: 0px;
    margin-left: -1px;
    margin-bottom: 30px;
}
.merch-menu__column {
    padding: 25px;
}
footer {
    background-color:#111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.footer__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 70px;
}
.footer__left li {
    font-size: 15px;
    letter-spacing: 0;
}
.footer-accordion .sub_ul {
    padding: 0px; 
    margin-top: -16px;
    padding-left: 47px;
}

.footer-accordion .sub_ul li{
    text-transform: capitalize;
    font-size: 12px;
    color: gray;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
    color: gray;
    font-weight: 400;
    transform: none;
    padding: 0px;
    margin: 0px;
    padding-left: 36px;
    padding-top: 12px;
    letter-spacing: 0;
    transform: none;
}

.social-link-icon {
    fill: #7e7e7e;
    transition: fill .2s;
}

.l-social-menu {
    color: white;
}

.social-links {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 20px;
    margin-right: 140px;
}

.social-links__li {
    margin-top: 20px;
    padding: 10px;
    transform: none;
}

a.social-link.footer-link {
    width: 50px;
}
.footer-accordion .section__2 {
    padding-left: 42px;
}

.footer-accordion .section__3 {
    padding-left: 48px;
}

.footer__bottom {
    border-top: 1px solid #222;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__bottom .sub-footer-menu {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-end;
}
.footer__bottom .sub-footer-menu li {
    transform: none;
}
.footer__bottom .sub-footer-menu .sub-footer-menu-link {
    text-decoration: none;
    color: #7e7e7e;
    font-weight: 400;
    font-size: 10px;
    line-height: 2.4;
    text-transform: capitalize;

}
.sub-footer-copyright__container {
    padding-top: 30px;
    color: white;
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
}
.country-pin-label {
    color: #fff;
    margin: 0 8px;
}
.sub-footer-copyright {
    color: #7e7e7e;
    padding-top: 3px;
    padding-left: 20px;
}